.overlay {
    display: block;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    background-repeat: no-repeat;
    mask: radial-gradient(circle at 50% 50%, #06121722 10%, #061217cc 30%);
    -webkit-mask: radial-gradient(circle at 50% 50%, #06121722 10%, #061217cc 30%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-clip: content-box;
    animation: overlay-moves 4s ease-out infinite forwards;
    mask-position: 150px 100px;
    -webkit-mask-position: 150px 100px;
}

@keyframes overlay-moves {
    0% {
        mask-position: 150px 100px;
        -webkit-mask-position: 150px 100px;
    }
    20% {
        mask-position: -500px 0;
        -webkit-mask-position: -500px 0;
    }
    50% {
        mask-position: -500px 0;
        -webkit-mask-position: -500px 0;
    }
    70% {
        mask-position: 150px 100px;
        -webkit-mask-position: 150px 100px;
    }
}