:root {
    --spotlight-x: 35%;
    --spotlight-y: 72%;
  }

[data-mode~="interactive"] .spotlight {
    z-index: 0 !important; 
}

.spotlight {
    position: relative;
    z-index: var(--z-index-spotlight);
    opacity: 1;
    display: block;
    min-width: 800px;
    min-height: 600px;
    width: auto;
    height: 100%;
    background-image: radial-gradient(
        circle at var(--spotlight-x) var(--spotlight-y), 
        #06121700 100px, 
        #061217cc 300px
    );
    transition: opacity 1s;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9jc3Mvc3BvdGxpZ2h0LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtJQUNJLGtCQUFrQjtJQUNsQixrQkFBa0I7RUFDcEI7O0FBRUY7SUFDSSxxQkFBcUI7QUFDekI7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsaUNBQWlDO0lBQ2pDLFVBQVU7SUFDVixjQUFjO0lBQ2QsZ0JBQWdCO0lBQ2hCLGlCQUFpQjtJQUNqQixXQUFXO0lBQ1gsWUFBWTtJQUNaOzs7O0tBSUM7SUFDRCxzQkFBc0I7QUFDMUIiLCJmaWxlIjoic3BvdGxpZ2h0LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIjpyb290IHtcbiAgICAtLXNwb3RsaWdodC14OiAzNSU7XG4gICAgLS1zcG90bGlnaHQteTogNzIlO1xuICB9XG5cbltkYXRhLW1vZGV+PVwiaW50ZXJhY3RpdmVcIl0gLnNwb3RsaWdodCB7XG4gICAgei1pbmRleDogMCAhaW1wb3J0YW50OyBcbn1cblxuLnNwb3RsaWdodCB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIHotaW5kZXg6IHZhcigtLXotaW5kZXgtc3BvdGxpZ2h0KTtcbiAgICBvcGFjaXR5OiAxO1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIG1pbi13aWR0aDogODAwcHg7XG4gICAgbWluLWhlaWdodDogNjAwcHg7XG4gICAgd2lkdGg6IGF1dG87XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHJhZGlhbC1ncmFkaWVudChcbiAgICAgICAgY2lyY2xlIGF0IHZhcigtLXNwb3RsaWdodC14KSB2YXIoLS1zcG90bGlnaHQteSksIFxuICAgICAgICAjMDYxMjE3MDAgMTAwcHgsIFxuICAgICAgICAjMDYxMjE3Y2MgMzAwcHhcbiAgICApO1xuICAgIHRyYW5zaXRpb246IG9wYWNpdHkgMXM7XG59XG4iXX0= */