@import url(fonts.css);
@import url(typography.css);
@import url(content.css);
@import url(scene.css);
@import url(spotlight.css);
@import url(spot.css);
@import url(pagination.css);
@import url(header.css);
@import url(popper.css);
@import url(overlay.css);
@import url(map.css);

/* variables */
:root {
    --scene-size-x: 100vw; 
    --scene-size-y: 100vh;

    --color-blue: #40b6e6;
    --color-white: #fff;
    --color-blue-light: #ECF8FD;
    --color-black-light: #061217;
    --color-black-transparent: #06121755;

    --color-primary: var(--color-blue);
    --color-highlight: var(--color-white);
    --color-header-bg: var(--color-black-light);

    --text-color-light: var(--color-blue-light);
    --text-color-highlight: var(--color-blue);

    --text-size-sm: .75rem;
    --text-size-md: .875rem;
    --text-size-lg: 1.4rem;
    --text-size-xxl: 4.5rem;

    --z-index-spots: 2;
    --z-index-spot: 6; /* spots over popper */
    --z-index-content: 5;
    --z-index-popper: 7;
    --z-index-header: 8;
    --z-index-spotlight: 4;
    --z-index-overlay: 1;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input, select, textarea, button, a, div {
    -webkit-tap-highlight-color: transparent;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9jc3Mvc3R5bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLHNCQUFzQjtBQUN0QiwyQkFBMkI7QUFDM0Isd0JBQXdCO0FBQ3hCLHNCQUFzQjtBQUN0QiwwQkFBMEI7QUFDMUIscUJBQXFCO0FBQ3JCLDJCQUEyQjtBQUMzQix1QkFBdUI7QUFDdkIsdUJBQXVCO0FBQ3ZCLHdCQUF3QjtBQUN4QixvQkFBb0I7O0FBRXBCLGNBQWM7QUFDZDtJQUNJLHFCQUFxQjtJQUNyQixxQkFBcUI7O0lBRXJCLHFCQUFxQjtJQUNyQixtQkFBbUI7SUFDbkIsMkJBQTJCO0lBQzNCLDRCQUE0QjtJQUM1QixvQ0FBb0M7O0lBRXBDLGtDQUFrQztJQUNsQyxxQ0FBcUM7SUFDckMsMkNBQTJDOztJQUUzQywyQ0FBMkM7SUFDM0MseUNBQXlDOztJQUV6QyxzQkFBc0I7SUFDdEIsdUJBQXVCO0lBQ3ZCLHNCQUFzQjtJQUN0Qix1QkFBdUI7O0lBRXZCLGtCQUFrQjtJQUNsQixpQkFBaUIsRUFBRSxzQkFBc0I7SUFDekMsb0JBQW9CO0lBQ3BCLG1CQUFtQjtJQUNuQixtQkFBbUI7SUFDbkIsc0JBQXNCO0lBQ3RCLG9CQUFvQjtBQUN4Qjs7QUFFQTtJQUNJLHdDQUF3QztBQUM1Qzs7QUFFQTtJQUNJLHdDQUF3QztBQUM1QyIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IHVybChmb250cy5jc3MpO1xuQGltcG9ydCB1cmwodHlwb2dyYXBoeS5jc3MpO1xuQGltcG9ydCB1cmwoY29udGVudC5jc3MpO1xuQGltcG9ydCB1cmwoc2NlbmUuY3NzKTtcbkBpbXBvcnQgdXJsKHNwb3RsaWdodC5jc3MpO1xuQGltcG9ydCB1cmwoc3BvdC5jc3MpO1xuQGltcG9ydCB1cmwocGFnaW5hdGlvbi5jc3MpO1xuQGltcG9ydCB1cmwoaGVhZGVyLmNzcyk7XG5AaW1wb3J0IHVybChwb3BwZXIuY3NzKTtcbkBpbXBvcnQgdXJsKG92ZXJsYXkuY3NzKTtcbkBpbXBvcnQgdXJsKG1hcC5jc3MpO1xuXG4vKiB2YXJpYWJsZXMgKi9cbjpyb290IHtcbiAgICAtLXNjZW5lLXNpemUteDogMTAwdnc7IFxuICAgIC0tc2NlbmUtc2l6ZS15OiAxMDB2aDtcblxuICAgIC0tY29sb3ItYmx1ZTogIzQwYjZlNjtcbiAgICAtLWNvbG9yLXdoaXRlOiAjZmZmO1xuICAgIC0tY29sb3ItYmx1ZS1saWdodDogI0VDRjhGRDtcbiAgICAtLWNvbG9yLWJsYWNrLWxpZ2h0OiAjMDYxMjE3O1xuICAgIC0tY29sb3ItYmxhY2stdHJhbnNwYXJlbnQ6ICMwNjEyMTc1NTtcblxuICAgIC0tY29sb3ItcHJpbWFyeTogdmFyKC0tY29sb3ItYmx1ZSk7XG4gICAgLS1jb2xvci1oaWdobGlnaHQ6IHZhcigtLWNvbG9yLXdoaXRlKTtcbiAgICAtLWNvbG9yLWhlYWRlci1iZzogdmFyKC0tY29sb3ItYmxhY2stbGlnaHQpO1xuXG4gICAgLS10ZXh0LWNvbG9yLWxpZ2h0OiB2YXIoLS1jb2xvci1ibHVlLWxpZ2h0KTtcbiAgICAtLXRleHQtY29sb3ItaGlnaGxpZ2h0OiB2YXIoLS1jb2xvci1ibHVlKTtcblxuICAgIC0tdGV4dC1zaXplLXNtOiAuNzVyZW07XG4gICAgLS10ZXh0LXNpemUtbWQ6IC44NzVyZW07XG4gICAgLS10ZXh0LXNpemUtbGc6IDEuNHJlbTtcbiAgICAtLXRleHQtc2l6ZS14eGw6IDQuNXJlbTtcblxuICAgIC0tei1pbmRleC1zcG90czogMjtcbiAgICAtLXotaW5kZXgtc3BvdDogNjsgLyogc3BvdHMgb3ZlciBwb3BwZXIgKi9cbiAgICAtLXotaW5kZXgtY29udGVudDogNTtcbiAgICAtLXotaW5kZXgtcG9wcGVyOiA3O1xuICAgIC0tei1pbmRleC1oZWFkZXI6IDg7XG4gICAgLS16LWluZGV4LXNwb3RsaWdodDogNDtcbiAgICAtLXotaW5kZXgtb3ZlcmxheTogMTtcbn1cblxuKiB7XG4gICAgLXdlYmtpdC10YXAtaGlnaGxpZ2h0LWNvbG9yOiB0cmFuc3BhcmVudDtcbn1cblxuaW5wdXQsIHNlbGVjdCwgdGV4dGFyZWEsIGJ1dHRvbiwgYSwgZGl2IHtcbiAgICAtd2Via2l0LXRhcC1oaWdobGlnaHQtY29sb3I6IHRyYW5zcGFyZW50O1xufSJdfQ== */