@import url(pop.css);

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}
