@import url(pop.css);

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    position: relative;
    color: #fff;
}
label {
    color: #fff;
}
.text-content {
    float: left;
    position: relative;
    z-index: 2;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 10rem;
    
}
h1 .fade-in {
    opacity: 1;
}
h1 span {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}