.overlay {
    display: block;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    background-repeat: no-repeat;
    /* animation: overlay-moves 4s ease-in 1s infinite forwards; */
}

.spotlight {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle, #061217ff, #061217ff 50%, #06121722 65%);
    border: 1px solid #f00;

    mix-blend-mode: revert;

}

@keyframes overlay-moves {
    0% {
        background-image: radial-gradient(circle at 600px 600px, #06121700, #06121722 10%, #061217aa 15%);
    }
    20% {
        background-image: radial-gradient(circle at 300px 300px, #06121700, #06121722 10%, #061217aa 15%);
    }
    40% {
        background-image: radial-gradient(circle at 300px 300px, #06121700, #06121722 10%, #061217aa 15%);
    }
    80% {
        background-image: radial-gradient(circle at 300px 300px, #06121700, #06121722 10%, #061217aa 15%);
    }
    100% {
        background-image: radial-gradient(circle at 300px 300px, #06121700, #06121722 10%, #061217aa 15%);
    }
}