.header {
   position: absolute;
   z-index: var(--z-index-header);
   width: 100%;
   background-color: var(--color-header-bg);
}

.header-logo {
    float: left;
}

.header-headline {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-left: -165px;
    padding:0 45px 0 0; 
    line-height: 72px;
    font-size: var(--text-size-lg);
    font-weight: 600;
    color: var(--text-color-light);
    white-space: nowrap;
}
