:root {
    --spotlight-x: 50%;
    --spotlight-y: 50%;
  }

.overlay {
    position: relative;
    z-index: var(--z-index-overlay);
    display: block;
    min-width: 800px;
    min-height: 600px;
    width: auto;
    height: 100%;
    background-image: radial-gradient(
        circle at var(--spotlight-x) var(--spotlight-y), 
        #06121722 6%, 
        #061217cc 9%
    );
    background-size:  calc(100vw * 3) calc(100vh * 3);
    background-position: calc(100vw/2 - 100vw * 1.5) calc(100vh/2 - 100vh * 1.5);
    /* animation: overlay-moves 4s ease-in 1s infinite forwards; */
}

@keyframes overlay-moves {
    0% {
        background-position: calc(100vw/2 - 100vw * 1.5) calc(100vh/2 - 100vh * 1.5);
    }
    20% {
        background-position: calc(100vw/2 - 100vw * 1.5 - 400px) calc(100vh/2 - 100vh * 1.5 + 20px);
    }
    40% {
        background-position: calc(100vw/2 - 100vw * 1.5 - 600px) calc(100vh/2 - 100vh * 1.5);
    }
    80% {
        background-position: calc(100vw/2 - 100vw * 1.5  + 600px) calc(100vh/2 - 100vh * 1.5 + 150px);
    }
    100% {
        background-position: calc(100vw/2 - 100vw * 1.5) calc(100vh/2 - 100vh * 1.5);
    }
}