html, body {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.spot-container {
    position: relative;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.spot {
    position:relative;
}

.pop {
    display: block;
    border-radius: .5rem;
    width: 150px;
    padding: 2rem;
    backdrop-filter: blur(20px);
    color: #fff;
    opacity: 0;
}

.pop-cont {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 20px;
    width: 0;
    height: 0;
    border: 2px solid #f00;
}

.pop-trig {
    display: block;
    position: relative;
    z-index: 0;
    background-color: #000;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;
}

[data-behavior="spot"].is-active .pop-trig {
    z-index: 2;
    background-color: #fff;
    color: #000;
}

.pop-trig + .pop-cont.is-animated {
    animation: hidden 1s forwards;
}
.pop-trig + .pop-cont.is-animated > .pop {
    animation: slide-out 1s forwards;
}

[data-behavior="spot"].is-active > .pop-cont.is-animated {
    animation: visible 1s forwards;
}
[data-behavior="spot"].is-active > .pop-cont.is-animated > .pop {
    animation: slide-in 1s forwards;
}

@keyframes visible {
    100% {
        overflow: visible;
    }
}

@keyframes hidden {
    50% {
        overflow: hidden
    }
    
    100% {
        overflow: hidden
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
        transform: translateY(-120px);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateY(-120px);
    }

    50% {
        opacity: 0;
        transform: translateY(-400px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}