.popper {
    position: absolute;
    top: -200px;
    /* left: 500px; */
    display: none;
    opacity: 0;
    z-index: var(--z-index-popper);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: var(--color-black-transparent);
    border-radius: 16px;
    color: var(--text-color-light);
    transition: all ease-out .5s;
}

.popper.is-block {
    display: block;
}

.popper.is-visible {
    opacity: 1;
}

.popper-content {
    min-width: 200px;
    width: 260px;
    padding: 25px;
    font-size: var(--text-size-sm);
    font-weight: 400;
}

.popper-headline {
    margin-top: .25rem;
}

.popper-headline-icon {
    float: left;
    filter: brightness(0) saturate(100%) invert(90%) sepia(24%) saturate(5533%) hue-rotate(356deg) brightness(102%) contrast(102%);
}
.popper-headline-text {
    display: block;
    margin-left: 40px;
    font-weight: 600;
    font-size: var(--text-size-md)
}

.popper-features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popper-feature {
    margin-bottom: .5rem;
}
.popper-feature-icon {
    float: left;
    transform: translate(5px, 2px);
}

.popper-feature-text {
    display: block;
    margin-left: 32px;
}

