:root {
    --spotlight-x: 11%;
    --spotlight-y: 30%;
  }

.spotlight {
    position: relative;
    z-index: var(--z-index-spotlight);
    display: block;
    min-width: 800px;
    min-height: 600px;
    width: auto;
    height: 100%;
    background-image: radial-gradient(
        circle at var(--spotlight-x) var(--spotlight-y), 
        #06121722 100px, 
        #061217cc 300px
    );
}
