@import url(scene.css);
@import url(spot.css);

/* variables */
:root {
    --scene-size-x: 100vw; 
    --scene-size-y: 100vh;
    --color-blue: #40b6e6;
    --color-white: #fff;
    --color-blue-light: #ECF8FD; 
}
